.contact-form-container {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}

/* Contact Form 7 Styles */

.wpcf7-form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--gray);
  border-radius: 4px;
}

label {
  color: var(--white);
}

.wpcf7-submit {
  font-family: "Playfair Display", serif;
  display: inline-block;
  padding: 1rem 2.5rem;
  margin-top: 1rem;
  border-radius: 15px;
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  transition: background-color 0.5s ease;
  border: none;
  cursor: pointer;
  width: max-content;
}

.wpcf7-submit:hover {
  background-color: var(--gray);
  color: var(--white);
}
