/* Hero Styles */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 100%;
  text-align: center;
  background-image: url("../images/hero-img.jpg");
  background-size: cover;
  background-position: center;
}

.hero-heading {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: var(--white);
}

.hero-button {
  font-family: "Playfair Display", serif;
  display: inline-block;
  padding: 1rem 2.5rem;
  margin-top: 1rem;
  border-radius: 15px;
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--gray);
  color: var(--white);
}

/* About Styles */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.about-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 2rem;
}

.about-para {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 2rem;
  text-align: center;
  width: 75%;
}

/* Skills Styles */

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
}

.skills-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 3rem;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.skill {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 200px;
  text-align: center;
  background: var(--black);
}

.skill-icon {
  height: 60px;
  width: 60px;
  margin-bottom: 1rem;
}

.skill-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

/* Projects Styles */
.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
}

.projects-section-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 2rem;
}

.projects-section-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 100px;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.projects-section-project-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 2rem;
}

.projects-section-project-thumbnail {
  height: 200px;
  width: 375px;
  margin-bottom: 1rem;
  transition: 0.5s;
}

.projects-section-project-thumbnail:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

/* Contact Styles */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 2rem;
}

.contact-para {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 2rem;
  text-align: center;
  width: 75%;
}

.back-to-top {
  margin-bottom: 2rem;
  transition: transform 0.5s ease;
}

.back-to-top:hover {
  transform: scale(1.2);
}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Hero Styles */
  .hero {
    height: 50vh;
  }
  .hero-heading {
    font-size: 3.5rem;
    border-bottom: none;
  }

  /* About Styles */

  .about-heading {
    font-size: 2rem;
  }

  .about-me {
    margin-top: 3rem;
  }

  .about-para {
    font-size: 1rem;
  }

  /* Skills Styles */

  .skills {
    margin-top: 3rem;
  }

  .skills-heading {
    font-size: 2rem;
  }

  .skill {
    margin-bottom: 2rem;
  }

  .skill-name {
    font-size: 1rem;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 767px) {
  .hero-heading {
    font-size: 2.5rem;
  }

  .hero-button {
    font-size: 1rem;
  }

  .about-heading {
    font-size: 1.5rem;
  }

  .about-para {
    font-size: 1rem;
  }

  .skills-heading {
    font-size: 1.5rem;
  }

  .skill-name {
    font-size: 1rem;
  }
}
